<div class="layui-card-header">版本信息</div>
<div class="layui-card-body layui-text layadmin-about">
  <script type="text/html" template>
    <p>Web：Nginx Tengine 2.3.3</p>
    <p>PHP：8.3.10</p>
    <p>MySQL：mariadb11.4.2</p>
    <p>前端UI：layui-v{{ layui.admin.layui }}</p>
    <p>前端框架：layuiAdmin-v{{ layui.admin.v }}</p>
    <p>后端Socket：Workerman 4.1.15</p>
    <p>底层框架：ThinkPHP 8.0.4</p>
    <p>维护周期：每月初/凌晨3:00-3:10</p>
    <p>最新版本：<a lay-href="/system/update" class="layui-btn layui-btn-primary layui-btn-xs">V.20240406</a></p>
  </script>
</div>

<div class="layui-card-header">联系客服</div>
<div class="layui-card-body layui-text layadmin-about">
  <script type="text/html" template>
    <p>
   <!-- <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2963246343&amp;site=qq&amp;menu=yes" target="_blank" class="layui-btn layui-bg-blue layui-btn-sm" style="text-decoration: none;">-->
   <a href="javascript:;" onclick="qr('wechat','https://qm.qq.com/q/XB3uqGepSs');return false;" 
      class="layui-btn layui-btn-sm" style="margin-left:0">
      <i class="layui-icon layui-icon-login-qq"></i> QQ</a>
    <a href="javascript:;" onclick="qr('wechat','https://u.wechat.com/MPc4MfM6YHo0908_i2yQ47E');return false;" 
      class="layui-btn layui-btn-sm" style="margin-left:0">
      <i class="layui-icon layui-icon-login-wechat"></i> 微信</a>
    </p>
  </script>
</div>
