

<title>通讯录</title>
  
<script type="text/html" template>
  <link rel="stylesheet" href="{{ layui.setter.paths.base }}style/template.css?v={{ layui.admin.v }}" media="all">
</script>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>页面</cite></a>
    <a><cite>通讯录</cite></a>
  </div>
</div>

<div class="layui-fluid layadmin-maillist-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <script type="text/html" template>
                  <img src="{{ layui.setter.paths.base }}style/imgs/template/character.jpg">
                </script>
                <div class="layadmin-maillist-img layadmin-font-blod">演员</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>张三</strong>
            </h3>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
              上海
            </p>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>Zhang san</strong>
              <br>
              E-mail:<span class="__cf_email__" data-cfemail="89f1f1f1c9ebe8e0edfca7eae6e4">[email&#160;protected]</span>
              <br>
              Weibo: https://weibo.com/123 
              <br>
              <addr title="phone">Tel:</addr>
              (123) 456-7890
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/html" template>
                  <img src="{{ layui.setter.paths.base }}style/imgs/template/character.jpg">
                </script>
                <div class="layadmin-maillist-img layadmin-font-blod">演员</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>张三</strong>
            </h3>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
              上海
            </p>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>Zhang san</strong>
              <br>
              E-mail:<span class="__cf_email__" data-cfemail="374f4f4f7755565e53421954585a">[email&#160;protected]</span>
              <br>
              Weibo: https://weibo.com/123 
              <br>
              <addr title="phone">Tel:</addr>
              (123) 456-7890
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/html" template>
                  <img src="{{ layui.setter.paths.base }}style/imgs/template/character.jpg">
                </script>
                <div class="layadmin-maillist-img layadmin-font-blod">演员</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>张三</strong>
            </h3>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
              上海
            </p>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>Zhang san</strong>
              <br>
              E-mail:<span class="__cf_email__" data-cfemail="047c7c7c4466656d60712a676b69">[email&#160;protected]</span>
              <br>
              Weibo: https://weibo.com/123 
              <br>
              <addr title="phone">Tel:</addr>
              (123) 456-7890
            </a>
          </div>
        </div>
      </div>
    </div>
     <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/html" template>
                  <img src="{{ layui.setter.paths.base }}style/imgs/template/character.jpg">
                </script>
                <div class="layadmin-maillist-img layadmin-font-blod">演员</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>张三</strong>
            </h3>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
              上海
            </p>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>Zhang san</strong>
              <br>
              E-mail:<span class="__cf_email__" data-cfemail="98e0e0e0d8faf9f1fcedb6fbf7f5">[email&#160;protected]</span>
              <br>
              Weibo: https://weibo.com/123 
              <br>
              <addr title="phone">Tel:</addr>
              (123) 456-7890
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/html" template>
                  <img src="{{ layui.setter.paths.base }}style/imgs/template/character.jpg">
                </script>
                <div class="layadmin-maillist-img layadmin-font-blod">演员</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>张三</strong>
            </h3>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
              上海
            </p>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>Zhang san</strong>
              <br>
              E-mail:<span class="__cf_email__" data-cfemail="027a7a7a4260636b66772c616d6f">[email&#160;protected]</span>
              <br>
              Weibo: https://weibo.com/123 
              <br>
              <addr title="phone">Tel:</addr>
              (123) 456-7890
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/html" template>
                  <img src="{{ layui.setter.paths.base }}style/imgs/template/character.jpg">
                </script>
                <div class="layadmin-maillist-img layadmin-font-blod">演员</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>张三</strong>
            </h3>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
              上海
            </p>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>Zhang san</strong>
              <br>
              E-mail:<span class="__cf_email__" data-cfemail="d7afafaf97b5b6beb3a2f9b4b8ba">[email&#160;protected]</span>
              <br>
              Weibo: https://weibo.com/123 
              <br>
              <addr title="phone">Tel:</addr>
              (123) 456-7890
            </a>
          </div>
        </div>
      </div>
    </div>
     <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/html" template>
                  <img src="{{ layui.setter.paths.base }}style/imgs/template/character.jpg">
                </script>
                <div class="layadmin-maillist-img layadmin-font-blod">演员</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>张三</strong>
            </h3>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
              上海
            </p>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>Zhang san</strong>
              <br>
              E-mail:<span class="__cf_email__" data-cfemail="c1b9b9b981a3a0a8a5b4efa2aeac">[email&#160;protected]</span>
              <br>
              Weibo: https://weibo.com/123 
              <br>
              <addr title="phone">Tel:</addr>
              (123) 456-7890
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/html" template>
                  <img src="{{ layui.setter.paths.base }}style/imgs/template/character.jpg">
                </script>
                <div class="layadmin-maillist-img layadmin-font-blod">演员</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>张三</strong>
            </h3>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
              上海
            </p>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>Zhang san</strong>
              <br>
              E-mail:<span class="__cf_email__" data-cfemail="1f6767675f7d7e767b6a317c7072">[email&#160;protected]</span>
              <br>
              Weibo: https://weibo.com/123 
              <br>
              <addr title="phone">Tel:</addr>
              (123) 456-7890
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/html" template>
                  <img src="{{ layui.setter.paths.base }}style/imgs/template/character.jpg">
                </script>
                <div class="layadmin-maillist-img layadmin-font-blod">演员</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>张三</strong>
            </h3>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
              上海
            </p>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>Zhang san</strong>
              <br>
              E-mail:<span class="__cf_email__" data-cfemail="d2aaaaaa92b0b3bbb6a7fcb1bdbf">[email&#160;protected]</span>
              <br>
              Weibo: https://weibo.com/123 
              <br>
              <addr title="phone">Tel:</addr>
              (123) 456-7890
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
layui.use(['admin'], function(){
  var $ = layui.$
  ,admin = layui.admin;

});
</script>